body{
    font-family: 'Poppins', sans-serif;
}

.border-reg {
    border: 2px solid #289BDE;
    border-radius: 6px;
}

.text-reg {
    color: #289BDE;
    background-color: white;
}

.reg-button{
    width: 150px;
    height: 40px;
}

.reg-button-1{
    width: 170px;
    height: 40px;
}

.fa-star{
    color: rgb(246, 255, 78);
}


.get-started {
    background-color: #289BDE;
}

.course-header{
    color: #4A4A4A;
}

.course-text{
    color: #777777;
}

.course-price{
    color: #289BDE;
}

.course-border{
    border: 1px solid #E8E8E8;
}

.about-us{
    background-color: #F4FAFD;
}

footer{
    background-color: black;
}

a{
    text-decoration: none;
    color: white;
}

/* Responsive Customisation */


@media screen and (min-width: 993px) {
    .course-border{
        width: 49%;
    }
    
}


@media screen and (min-width: 577px) and (max-width: 768px) {
    .course-thumbnail{
        width: 100%;
    }
    
}

@media screen and (max-width: 576px) {
    .mobi-slider h1 {
        font-size: medium;
    }

    .mobi-slider p {
        font-size: small;
    }

    .get-started {
        width: auto;
    }

    .course-thumbnail{
        width: 100%;
    }
}

